

   .quizStartContainer {
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    /* background: linear-gradient(145deg, #00bcd4, #009688); */
    border-radius: 15px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    animation: fadeIn 1s ease-out;
  }
  
  .header {
    font-size: 32px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    animation: slideInFromTop 1s ease-out;
  }
  
  .description {
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    opacity: 0;
    animation: fadeInDescription 1.5s ease-out forwards;
  }
  
  .startButton {
    background-color: #ff4081;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    animation: scaleButton 1s ease-out infinite alternate;
  }
  
  .startButton:hover {
    background-color: #d81b60;
    transform: scale(1.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInFromTop {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInDescription {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scaleButton {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  